.login-background {
  background-color: green;
  border: 1px solid red;
  height: 100vh;
  //   background: rgb(34, 193, 195);
  background: linear-gradient(
    135deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );

  .login-container {
    width: 332px;
    /* height: 100%; */
    /* margin: 0 auto; */
    background-color: #fff;
    height: auto;
    border-radius: 10px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 464px;
    .login-content {
      padding: 16px;

      .text-login {
        font-size: 24px;
        font-weight: 600;
        padding-top: 10px;
      }
      .login-input {
        padding: 7px 0;

        .custom-input-password {
          position: relative;
          // display: flex;

          i {
            position: absolute;
            right: 12px;
            top: 10px;
            cursor: pointer;
          }
        }
        // .data-lastpass-icon-root {
        //   display: none !important;
        // }
      }

      .btn-login {
        width: 100%;
        margin: 10px 0;
        height: 30px;
        border-radius: 15px;
        outline: none;
        border: none;
        background: linear-gradient(
          135deg,
          rgba(34, 193, 195, 1) 0%,
          rgba(253, 187, 45, 1) 100%
        );
        color: white;
        font-size: 16px;
      }

      .forgot-password {
        font-size: 14px;
      }

      .social-login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px;

        i {
          font-size: 32px;
        }
        .google {
          background-color: rgb(203, 36, 36);
          border-radius: 50%;
          height: 50px;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          margin-right: 12px;
        }
        .facebook {
          background-color: #307aff;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
        }
      }
    }
  }
}
